Documents/Diagrams/.settings
Documents/Diagrams/.project

Code/.settings
Code/node_modules
Code/target
Code/.classpath
Code/.project
Code/vite.generated.ts
Code/src/main/frontend/generated/

#macos
.DS_Store