Documents/Diagrams/.settings

#Temporary
Documents/Diagrams/.project

Code/.settings
Code/node_modules
Code/target
Code/vite.generated.ts
Code/src/main/frontend/generated/
#Code/data/
#macos
.DS_Store

.metadata/

